<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Megasol Technologies, Uppsala</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Employed as a software engineer in January 2016. The work is fully done in Java Spring together with a Microsoft SQL Server providing a complete banking solution. Typical work were moving legacy code to the new REST API, integrating against third party services and implementing the internal virtual file system in Java NIO (New IO).</p>                    
</div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">2016 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Aptilo Networks, Stockholm</div>
                    </div><!--//meta-->
                    <div class="details">
                       <p>Employed as a software engineer in August 2016. The focus of the employment is work on the core of their SMP platform, mainly upgrading it from Redhat Linux version 5 to version 7, but also other tasks related to the distributed architecture. The work were done in various programming languages, such as C, Ruby, Python and Java.</p> 
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Master's thesis project</h3>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Aptilo Networks, Stockholm</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Master's thesis Spring 2016 at Aptilo Networks. The thesis work provided a tool for visualizing the properties of their back-end system Aptilo SMP as well as uniquely tracing messages through the system. The messages traced were displayed in the form of a sequence diagram.</p>
                    </div><!--//details-->
                </div><!--//item-->
               <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Joakims Data och IT</h3>
                            <div class="time">2012-2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Self-employed</div>
                    </div><!--//meta-->
                    <div class="details">
                    <p>Self-employed since October 2012, with a focus on websites, support and software development for small businesses. For example I created an add-on for an association’s database which enabled filtering of its members and a shopping site integrated with Klarna.</p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Bachelor's thesis</h3>
                            <div class="time">2014</div>
                        </div><!--//upper-row-->
                        <div class="company">MuchDifferent</div>
                    </div><!--//meta-->
                    <div class="details">
                    <p>Bachelor thesis Spring 2014 at MuchDifferent. The work consisted of creating the visualization of wind for their upcoming iOS application Green2Fly. The algorithm developed visualized stream lines of the wind.
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Homework assistant</h3>
                            <div class="time">2012-2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Studybuddy</div>
                    </div><!--//meta-->
                    <div class="details">
                    <p>Homework assistance for students at elementary and upper secondary level two times a week. Subjects teached were mathematics, physics and english.</p>
                    </div><!--//details-->
                </div><!--//item-->
 
            </section><!--//section-->
