<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    A sample of projects which I have been involved with or done.
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://home-assistant.io/">Homeassistant</a></span> - <span class="project-tagline">Open source project for home automation. I added support for Pushbullet notification mirrors enabling users to automate things when notifications happen on the phone. Typical usage might be turning on the lights when the alarm goes off, or saying who's calling in a speaker system.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://sigmajs.org/">Sigma JS</a></span> - 
                    <span class="project-tagline">Open source project for displaying graphs in the browser. I added support for filtering of nodes and edges inside the layout engine as well as an option to show link-status upon links inside the graph. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/jotunacorn/SL-Wear">SL-Wear</a></span> - <span class="project-tagline">Android app for Android Wear which shows upcoming departures in real time for nearby bus stations.  The app is constructed to work with Stockholm public transport (SL).</span>
                </div><!--//item-->
            </section><!--//section-->
